.App {
  text-align: center;
  font-family: Verdana, Geneva, Tahoma, sans-serif
}

.App-header {
  background-color: rgb(52, 164, 255);
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 3em;
}

.tweet-list {
  font-size: 1em;
  margin: 10px;
}

.tweets {
  padding: 10px;
}

.btn-default {
  color: white;
  background: lightgray;
  padding: 6.5px;
}
